@model ManageProductsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Products</h2>
    </div>

</div>


@using (Html.BeginForm("Index", "Products", FormMethod.Post))
{
    <div class="col-12" style="height: 25px"></div>
    <div class="row">
        <div class="col-6">
            <h5 class="text-danger">Filters</h5>
        </div>
        <div class="col-6 text-right ">
            <button runat="server" type="submit" class="btn btn-primary text-white">Filter</button>
        </div>
        <div class="form-group">

        </div>
    </div>
    @Html.EditorFor(expression: (x => x.Filter), templateName: "_ProductFilterEditorTemplate")

}

<div class="col-12" style="height: 25px"></div>
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Products</h2>
    </div>
    <div class="col-6 .row">
        <a onclick="onBtncreateOrderClicked()" class="float-right btn btn-primary text-white">Create Order</a>
        <a asp-area="Admin" asp-controller="Products" asp-action="Create" class="float-right btn btn-danger text-white" style="margin-right:20px">Create product</a>
    </div>
</div>
<br />
<div class="p-4 border rounded">
    <table class="table table-striped table-bordered" id="tblData" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Weight</th>
                <th>Unit</th>
                <th><a asp-area="Admin" asp-controller="Product"></a></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<form id="checkid" method="get" action="Orders/Create">
</form>

@section Scripts{
    <script>function onBtncreateOrderClicked() {
            let checkedProduct = $('.checkbox-product:checkbox:checked')
            let isSubmit = false;
            for (let i = 0; i < checkedProduct.length; i++) {
                isSubmit = true;
                $('#checkid').append(`<input type ="hidden" name="productIds" value = "${checkedProduct[i].value}" />`)
            }
            if (isSubmit) {
                $('#checkid').submit()
            }
        }</script>
    <script>
        let filter = @Json.Serialize(Model.Filter);
    </script>
    <script src="~/js/product/products.js"></script>
}
