@page
@{
}

<h1>This is the login page</h1>

<a href='@Url.Action("Home", "Index", new { area = "Member" })'>
    Click here to go to member page
</a>
<br />
<a href='@Url.Action("Home", "Index", new { area = "Admin" })'>
    Click here to go to admin page
</a>
