@model OrderViewModel


<div class="form-row">
    <div class="col form-group">
        <label asp-for="MemberEmail"></label>
        <input asp-for="MemberEmail" class="form-control" />
        <span asp-validation-for="MemberEmail" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label asp-for="Freight"></label>
        <input asp-for="Freight" type="number" step="0.001" class="form-control" />
        <span asp-validation-for="Freight" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label asp-for="OrderDate"></label>
        @Html.TextBoxFor((m => m.OrderDate), "{0:dd/MM/yyyy}", new { id = "OrderDate" })
        <span asp-validation-for="OrderDate" class="text-danger"></span>
    </div>
    <div class="col form-group">
        <label asp-for="ShippedDate"></label>
        @Html.TextBoxFor(m => m.ShippedDate, "{0:dd/MM/yyyy}", new { id = "ShippedDate" })
        <span asp-validation-for="ShippedDate" class="text-danger"></span>
    </div>
    <div class="col form-group">
        <label asp-for="RequiredDate"></label>
        @Html.TextBoxFor(m => m.RequiredDate, "{0:dd/MM/yyyy}", new { id = "RequiredDate" })
        <span asp-validation-for="RequiredDate" class="text-danger"></span>
    </div>
    <div class="col form-group">
    </div>
</div>