@model OrderViewModel


<div class="form-row">
    <div class="col form-group">

        <label class="label label-default" asp-for="MemberEmail"></label>
        <input asp-for="MemberEmail" class="form-control" />
        <span asp-validation-for="MemberEmail" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label asp-for="Freight"></label>
        <input asp-for="Freight" type="number" step="0.001" class="form-control" />
        <span asp-validation-for="Freight" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label asp-for="OrderDate"></label> <br />
        @Html.EditorFor((m => m.OrderDate), "dd/MM/yyyy")
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label asp-for="ShippedDate"></label><br />
        @Html.EditorFor((m => m.ShippedDate), "dd/MM/yyyy")
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label asp-for="RequiredDate"></label><br />
        @Html.EditorFor((m => m.RequiredDate), "dd/MM/yyyy")
    </div>
</div>