@model ProductFilterViewModel

<div class="form-row">
    <div class="col form-group">
        <label asp-for="ProductId"></label>
        <input asp-for="ProductId" class="form-control" />
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
    <div class="col form-group">
        <label asp-for="ProductName"></label>
        <input asp-for="ProductId" class="form-control" />
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="col form-group">
        <label asp-for="MinPrice"></label>
        <input asp-for="MinPrice" type="number" class="form-control" />
        <span asp-validation-for="MinPrice" class="text-danger"></span>
    </div>
    <div class="col form-group">
        <label asp-for="MaxPrice"></label>
        <input asp-for="MaxPrice" type="number" class="form-control" />
        <span asp-validation-for="MaxPrice" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="col form-group">
        <label asp-for="MinQuantity"></label>
        <input asp-for="MinQuantity" type="number" class="form-control" />
        <span asp-validation-for="MinQuantity" class="text-danger"></span>
    </div>
    <div class="col form-group">
        <label asp-for="MaxQuantity"></label>
        <input asp-for="MaxQuantity" type="number" class="form-control" />
        <span asp-validation-for="MaxQuantity" class="text-danger"></span>
    </div>
</div>